spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

api:
  security:
    key: test-api-key

services:
  products:
    url: http://localhost:8089/api/v1
    connect-timeout: 2000
    read-timeout: 2000

logging:
  level:
    com.techtest.inventory: DEBUG